html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    color: white;
    background-color: #171819;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px #000;
    overflow: hidden;
}

header .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 1px;
}

header .center {
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    z-index: 5;
}

#title {
    width: 100%;
}

header h1 {
    margin: 0;
}

header h3 {
    margin-top: 2px;
    color: rgb(211, 211, 211);
}

#auto-scroll {
    position: absolute;
    display: inline-block;
    bottom: 0;
    top: initial;
    text-align: center;
    font-size: 24px;
    color: white;
    transform: translate(-50%, 0);
}

#auto-scroll img {
    position: absolute;
    left: 25%;
}

#auto-scroll p {
    margin: 0;
    padding-top: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    z-index: 0;
}

.mesh {
    background-image: url("https://www.alspec.com.au/_images/petscreen-polyester-mesh.jpg");
    opacity: 0.03;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#technologies {
    font-size: 130px;
}

.page-footer {
    background-color: #1f1f1f;
    border-top: 2px solid #fff;
}