html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Acne', sans-serif;
}

body {
    color: white;
    background-color: #171819;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    text-shadow: 2px 2px #000;
    overflow: hidden;
}

header .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 1px;
}

header .center {
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    z-index: 5;
}

#title {
    width: 100%;
}

header h1 {
    margin: 0;
}

header h3 {
    margin-top: 2px;
    color: rgb(211, 211, 211);
}

#auto-scroll {
    position: absolute;
    display: inline-block;
    bottom: 0;
    top: initial;
    text-align: center;
    font-size: 24px;
    color: white;
    transform: translate(-50%, 0);
    -moz-animation: fadeInScroll 1.5s 0s infinite;
    -webkit-animation: fadeInScroll 1.5s 0s infinite;
    -o-animation: fadeInScroll 1.5s 0s infinite;
    animation: fadeInScroll 1.5s 0s infinite;
}

#auto-scroll img {
    position: absolute;
    left: 25%;
}

#auto-scroll p {
    margin: 0;
    padding-top: 50px;
}

a * {
    pointer-events: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    z-index: 0;
}

.mesh {
    background-image: url("https://www.alspec.com.au/_images/petscreen-polyester-mesh.jpg");
    opacity: 0.03;
}

#main-content {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

#tags {
    position: relative;
    margin: auto;
    padding: 20px;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chip {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}

.chip.active {
    color: white;
    background-color: rgb(35, 170, 170);
}

#main-carousel {
    overflow: visible;
}

#main-carousel .indicators {
    bottom: -50%;
}

.content .col {
    position: relative;
}

.content * img {
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.caption {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.66);
}

.caption .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#main-carousel:not(.scrolling) .content .col:hover .caption {
    opacity: 1;
    cursor: pointer;
}

#hidden-projects {
    display: none;
}

#technologies {
    font-size: 130px;
}

.page-footer {
    background-color: #1f1f1f;
    border-top: 2px solid #fff;
}

@media screen and (min-width: 993px) {
    #tags {
        width: 60%;
    }

    #main-carousel .indicators {
        bottom: -118%;
    }
}

/* Animation Keyframes*/
@keyframes fadeInScroll {
    0% { opacity: 1; }
    50% { opacity: 0.35; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeInScroll {
    0% { opacity: 1; }
    50% { opacity: 0.35; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeInScroll {
    0% { opacity: 1; }
    50% { opacity: 0.35; }
    100% { opacity: 1; }
}

@-o-keyframes fadeInScroll {
    0% { opacity: 1; }
    50% { opacity: 0.35; }
    100% { opacity: 1; }
}